:root {
    --text-color: black;
    --background-color: rgb(255, 255, 255, 0.5);
    --accent-color: #f2d8d8;
    --footer-color: darkgray;
    --hover-color: rgb(255, 175, 143, 0.4);
}

body {
    font-family: 'capitana', 'nanum-gothic';
    font-size: 16px;
    line-height: 30px;
    color: #0d1012;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    word-break: keep-all;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.logo_text {
    font-size: 24px;
    font-weight: 50;
    padding-top: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    height: 60px;
    position: fixed;
    width: 100%;
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 24px;
    color: white;
    padding-left: 15px;
    display: block;
    justify-content: center;
    align-items: center;
}
.logo_image{
    max-width: 100%;
    width: 130px;
    padding: 5px 10px;
}

.navbar_logo i {
    color: var(--accent-color);
}

.navbar_menu {
    font-family: 'capitana-light';
    display: flex;
    list-style: none;
    padding-left: 0;
    padding-right: 50px
}

.navbar_menu li {
    padding: 8px 25px;
}

.navbar_menu li:hover {
    background-color: var(--hover-color);
    border-radius: 4px;
}
.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 50px;
    font-size: 25px;
    color: var(--text-color);
    padding-top: 10px;
}

.navbar_toggleBtn :hover {
    color: var(--hover-color);
}
.IT_PG-top {
    background-color: var(--background-color);
}
.imageTop {
    padding-top: 190px;
    padding-bottom: 70px;
    margin: 0 auto;
    display: block;
    width: 80%;
    background-color: var(--background-color);
}
.IT_PG-middle {
    background-color: var(--background-color);
}
.imageMiddle {
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 6px;
    margin: 0 auto;
    display: block;
    width: 80%;
    background-color: var(--background-color);
}
.IT-PG-serve{
    background-color:  #EDEDEE;
}
.imageServe{
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    width: 90%;
    background-color: #EDEDEE;
}

footer {
    display: block;
    height: 100px;
    width: 100%;
    line-height: 30px;
    color: #8a8c8f;
    bottom: 0;
}

.company_profile {
    width: 100%;
    padding: 27px 0;
    background-color: #2b2b2b;
}

.company_profile h2 {
    display: block;
    font-family: 'NanumGothicLight';
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 300;
    font-size: 35px;
    line-height: 56px;
    color: #ffffff;
    letter-spacing: -0.02em;
}

.company_profile>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: calc(100% - 200px);
    margin: 0 auto;
}

.company_profile button {
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: white;
    background-image: url('../images/button_icon2.png');
    background-size: cover;
    border: none;
    margin-left: 24px;
    cursor: pointer;
}
.company_profile button:hover {
    background-color: #2b2b2b;

}

.company_profile .download_profile {
    display: flex;
    align-items: center;
}

.download_profile p {
    font-family: 'capitana-thin';
    font-size: 28px;
    line-height: 38px;
    color: white;
}

.footer_info_section {
    padding: 20px 0;
    background-color: #404040;
    height: auto;
}

.footer_info_section>div {
    max-width: calc(100% - 200px);
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer_img {
    margin-right: 48px;
}

.footer_logo {
    width: 180px;
    display: block;
    padding-top: 20px;
    margin-bottom: 20px;
}

.company_number {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #808080;
}

.footer_contact_info {
    display: flex;
}

.contact_detail:first-of-type {
    margin-right: 50px;
}

.contact_detail span {
    display: block;
    color: #808080;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    font-weight: 600;
    margin-bottom: 5px;
}

.contact_detail p,
.contact_detail a {
    font-family: 'capitana', 'nanum-gothic';
    display: block;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
}

@media screen and (max-width: 413px){
    .footer_info_section > div,
    .company_profile > div {
        max-width: calc(100% - 44px);
    }
}

@media screen and (max-width: 758px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 50px;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_toggleBtn {
        display: flex;
    }

    .navbar_menu.active,
    .navbar_links.active {
        display: flex;
    }
    .company_profile {
        padding: 53px 0;
    }
    .company_profile h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 40px;
    }
    .company_profile p {
        font-size: 16px;
    }
    .company_profile > div {
        display: block;
    }

    .footer_info_section {
        padding: 76px 0 104px;
    }

    .footer_logo {
        width: 126px;
        margin-bottom: 42px;
    }

    .footer_contact_info {
        display: block;
    }


    .footer_info_section > div {
        align-items: flex-start;
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {
    .company_profile {
        padding: 157px 0;
    }
    .footer_info_section > div,
    .company_profile > div {
        max-width: calc(100% - 96px);
    }
    .company_profile button {
        width: 30px;
        height: 30px;
        margin-left: 20px;
    }

}
@font-face {
    font-family: nanum-gothic;
    src: url("../fonts/nanum-gothic/NanumGothic.otf");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: nanum-gothicBold;
    src: url("../fonts/nanum-gothic/NanumGothicBold.otf");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: nanum-gothicExtraBold;
    src: url("../fonts/nanum-gothic/NanumGothicExtraBold.otf");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: nanum-gothicLight;
    src: url("../fonts/nanum-gothic/NanumGothicLight.otf");
    unicode-range: U+AC00-D7A3;
}
@font-face {
    font-family: capitana-bold;
    src: url("../fonts/capitana-fonts/Fontspring-DEMO-capitana-bold.otf");
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: capitana-semibold;
    src: url("../fonts/capitana-fonts/Fontspring-DEMO-capitana-semibold.otf");
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: capitana-extrabold;
    src: url("../fonts/capitana-fonts/Fontspring-DEMO-capitana-extrabold.otf");
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: capitana-extralight;
    src: url("../fonts/capitana-fonts/Fontspring-DEMO-capitana-extralight.otf");
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: capitana-light;
    src: url("../fonts/capitana-fonts/Fontspring-DEMO-capitana-light.otf");
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: capitana-medium;
    src: url("../fonts/capitana-fonts/Fontspring-DEMO-capitana-medium.otf");
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: capitana-regular;
    src: url("../fonts/capitana-fonts/Fontspring-DEMO-capitana-regular.otf");
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: capitana-thin;
    src: url("../fonts/capitana-fonts/Fontspring-DEMO-capitana-thin.otf");
    unicode-range: U+0041-005A, U+0061-007A;
}