<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Incuvers 인큐버스" />
    <meta property="og:description" content="인큐버스는 핀테크 서비스, 플랫폼 서비스, 비대면 서비스를 제공 및 관리하는 회사입니다." />
    <meta property="og:image" content="./images/testpage.jpg" />


    <link rel="stylesheet" href="/css/CS-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans+KR:wght@700&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <title>인큐버스</title>
    <script src="https://kit.fontawesome.com/0d707ca2ca.js" crossorigin="anonymous"></script>
    <script src="/js/main.js" defer></script>
</head>

<!-- 불펌방지 태그 순서대로 우클릭 방지, 블록 선택 방지, 드래그 방지 -->
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<header class="header">
    <!-- 네비게이션바 -->
    <nav class="navbar">

        <!-- 로고 -->
        <div class="navbar_logo">
            <!-- 로고아이콘 -->
            <!-- <i class="fa-brands fa-accusoft"></i> -->
            <a href="index.html"><img class="logo_image" src="/images/logo.png"></a>
            <!-- 로고텍스트 -->
            <!-- <a class="logo_text" href="index.html">incuvers</a> -->
        </div>

        <!-- 메뉴바 -->
        <ul class="navbar_menu">
            <li><a href="about.html">about</a></li>
            <li><a href="team.html">team</a></li>
            <li><a href="IT_PG.html">IT/PG</a></li>
            <li><a href="CS.html">CS</a></li>
        </ul>

        <!-- sns 링크 -->
        <!-- <ul class="navbar_links">
        <li><a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></li></a>
        <li><a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://www.instargram.com"><i class="fa-brands fa-instagram"></i></a></li>
    </ul> -->

        <a class="navbar_toggleBtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>
</header>
<div class="div_test">
    <p class="div-font">제작중 🙇</p>
</div>



</body>

</html>